.down-page-div {
    margin: 6% 3.5%;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: solid 1px rgb(223, 223, 223);
    padding: 30px;
}

.benefits-div h1 {
    text-align: center;
}

.benefitsss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0;
}

.benefitsss div {
    text-align: center;
    width: 30%;
    margin: 20px 0;
}

.benefitsss div h1 {
    margin-top: 25px;
    font-weight: 600;
    font-size: medium;
    color: rgb(0, 0, 0);
}

.benefitsss div p {
    font-weight: 200;
    font-size: small;
}

.benefitsss img {
    width: 80px;
}

html {
    scroll-behavior: smooth;
}

#down {
    padding-bottom: 25%;
}