body{
    height: 1000px;
}
body,html,p{
    margin: 0;
    font-family: Poppins
}
.left-div{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 40%;
    margin-top:3%;
    margin-left: 6%;
}
.xstock{
    font-family: Lexend Mega;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 450;
    display: block;
}
.p-main{
    display: block;
    font-size: 60px;
    margin-top: 6%;
    font-weight: 350;
    width: 95%;
    line-height: 65px;
}
.p-sub{
    display: block;
    font-size: 15px;
    color: rgb(95, 95, 95);
    margin-top: 10%;
    width: 50%;
}
.right-div{
    display: inline-block;
    width: 50%;
    margin-top: 6%;
}
.button{
    margin: auto;
    width: 50%;
    display: block;
}
.button-action{
    font-family: Poppins;
    background-color: rgb(51,206,171);
    border: 0;
    color: white;
    border-radius: 100px;
    text-align: center;
    padding:15px;
    width: 50%;
    align-items: center;
    display: block;
    margin: auto;
}
p::selection{
    background-color: rgb(51,206,171) ;
}
.button-action:hover{
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
}
.button-action:active{
    opacity: 0.4;
    transition: 0.1s;

}
.img-landing {
    width: 100%;
}