.main-page-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4% 4%;
}

.left-div {
    width: 45%;
    text-align: center;
    margin: auto;
}

.xstock {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 450;
    margin-top: 10%;
}

.p-main {
    font-size: 60px;
    margin-top: 10%;
    font-weight: 350;
    line-height: 65px;
    width: 95%;
    margin: 10% auto;
}

.p-sub {
    font-size: 15px;
    color: rgb(95, 95, 95);
    margin-top: 15%;
}

.right-div {
    width: 50%;
    text-align: center;
    margin: auto;
}

.button {
    width: 50%;
    margin: 20px auto;
}

.button-action {
    font-family: Poppins, sans-serif;
    background-color: rgb(51, 206, 171);
    border: none;
    color: white;
    border-radius: 100px;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.1s;
}

.button-action a {
    color: white;
    text-decoration: none;
}

.button-action:hover {
    background-color: black;
}

.button-action:active {
    opacity: 0.4;
}

.img-landing {
    width: 48vw;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}